{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="space-y-8 p-8">

    <h1 class="text-4xl text-center">All the Things</h1>
    <div
      class="w-1/2 mx-auto text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      {% for thing in things %}
        <a href="{% url 'thing_detail' thing.pk %}" aria-current="true"
           class="block w-full px-4 py-4 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer dark:bg-gray-800 dark:border-gray-600">
          {{ thing.name }}
        </a>
      {% endfor %}
    </div>

  </div>

{% endblock content %}
